{% extends 'emptyBase.html' %}

<!-- Page title -->
{% block title %}About us{% endblock %}

<!-- Page content -->
{% block content %}
    <div class="row-fluid">
		<div class="media">
			<h3>The Great Moonstone Oxen of the First and Forsaken Oceans</h3>
		    <div class="row-fluid">
				<div class="span6">
			        <div class="media-body">
					    <img class="media-object pull-left about-us-img" src="{{ STATIC_URL }}/img/spencer.jpg">
			        	<h4 class="media-heading">Spencer Reynoso</h4>
			        	slr2436<br>
			        	spencerreynoso@live.com<br>
		        	</div>
		        	<br/>

			        <div class="media-body">
					    <img class="media-object pull-left about-us-img" src="{{ STATIC_URL }}/img/ben.jpg">
			        	<h4 class="media-heading">Ben Bowely-Bryant</h4>
			        	benbb<br>
			        	darknessomega2@gmail.com<br>
		        	</div>
		        	<br/>

			        <div class="media-body">
					    <img class="media-object pull-left about-us-img" src="{{ STATIC_URL }}/img/taylor.jpg">
			        	<h4 class="media-heading">Taylor McKinney</h4>
		        		tsm544<br>
		        		taylorsmck@gmail.com<br>
		        	</div>
		        	<br/>

			        <div class="media-body">
					    <img class="media-object pull-left about-us-img" src="{{ STATIC_URL }}/img/matt.jpg">
			        	<h4 class="media-heading">Matt Stringer</h4>
			        	stringer<br>
			        	matt.a.stringer@gmail.com<br>
		        	</div>
		        	<br/>

			        <div class="media-body">
					    <img class="media-object pull-left about-us-img" src="{{ STATIC_URL }}/img/cesar.jpg">
			        	<h4 class="media-heading">Cesar Cantu</h4>
			        	cesar35<br>
			        	cantucom@gmail.com<br>
		        	</div>
		        	<br/>

			        <div class="media-body">
					    <img class="media-object pull-left about-us-img" src="{{ STATIC_URL }}/img/david.jpg">
			        	<h4 class="media-heading">David Denton</h4>
			        	denton06<br>
			        	dwdenton@utexas.edu<br>
		        	</div>
		    	</div>

		    	<div class="span4">
		    		<div class="row-fluid">
		            	<img class="logo" src="{{ STATIC_URL }}/img/logo.png">
		            	<br/>
		            </div>
		    		<div class="row-fluid">
		    			<!-- About us summary here -->
            About Us:
              We are six students from Glenn Downing's CS373 Software Engineering class focused on changing the world.  We aim to make it easy to get involved with global events.  That way no one individual feels too small to help out.
		    		</div>
		    	</div>
		    </div>
	    </div>
    </div>
{% endblock %}
