{% extends 'emptyBase.html' %}

<!-- Page title -->
{% block title %}About us{% endblock %}

<!-- Page content -->
{% block content %}
    <div class="row-fluid">
		<div class="media">
			<h3>The Great Moonstone Oxen of the First and Forsaken Oceans</h3>
		    <div class="row-fluid">
				<div class="span6">
			        <div class="media-body">
			        	<h4 class="media-heading">Spencer Reynoso</h4>
			        	Put your summary here
		        	</div>
			        <div class="media-body">
			        	<h4 class="media-heading">Ben Bowely-Bryant</h4>
			        	Put your summary here
		        	</div>
			        <div class="media-body">
			        	<h4 class="media-heading">Taylor McKinney</h4>
			        	Put your summary here
		        	</div>
			        <div class="media-body">
			        	<h4 class="media-heading">Matt Stringer</h4>
			        	Put your summary here
		        	</div>
			        <div class="media-body">
			        	<h4 class="media-heading">Cesar Cantu</h4>
			        	Put your summary here
		        	</div>
			        <div class="media-body">
			        	<h4 class="media-heading">David Denton</h4>
			        	Put your summary here
		        	</div>
		    	</div>

		    	<div class="span4">
		    		<!-- Our logo should go here -->
		    		<p>
		    		Hi, I should be replaced by a logo.
		    		Don't worry, Taylor will make the logo on his home computer
		    		and put it up here.
		    		</p>
		    	</div>
		    </div>
	    </div>
    </div>
{% endblock %}
