{% extends 'base.html' %}

<!-- Page title -->
{% block title %}Copiago Mining Accident{% endblock %}

<!-- Page content -->
{% block content %}
<div id="content">
    <h2>Copiago Mining Accident</h2>

    <h4>People Involved</h4>
    <ul>
        <li><a href="{% url person2 %}">Luis Urzúa</a></li>
    </ul>

    <h4>Organizations Involved</h4>
    <ul>
        <li<a href="{% url organization2 %}">San Esteban Mining Company</a></li>
    </ul>

    <h4>Kind</h4>Natural Disaster

    <h4>Date and Time:</h4>August 5, 2010

    <h4>Locations:</h4>Copiapo, Chile

    <h4>Human Impact:</h4>
    The country had just experienced an earthquake and tsunami earlier that year, so news of the workers predicament garnered much empathy from the population of Chile which led the national governments take over of search and rescue attempts. 
    Government and international efforts to rescue the miners were greatly driven by the empathy and passion felt by the population of Chile and those around the world who expressed their sympathy. 

    <h4>Economic Impact:</h4>
    $20 Million dollars were spent on the several rescue plans implemented in an attempt to save the miners, with a third of that coming from private donations and the rest coming from the government and mine owners. 

    <h4>Resources Needed:</h4>
    The Government first used a Strata 950 model raise borer drilling rig to create an escape shaft but this plan was halted due to the danger falling rock debris. 
    They then used a Schramm Inc. T130XD air core drill, to widen one of the holes created by the previously used drill rig but was unfortunately wrecked upon hitting a metal bar in an old working, which was then followed by wearing out of the second drill. 
    The third and last attempt involved a Canadian made RIG-421 oil drilling rig which was able to drill large deep holes at faster rate than the mining drills. 
    Cooperation and resources of companies and individuals came from around the world such as Latin America, South America, United States and Canada, with developmental aid coming from NASA specialists. 

    <h4>Ways to Help:</h4>
    Miners have already been rescued but donations can probably still be made to an organization associated with helping the miners. 

    <h4>Links:</h4>
    <ul>
        <li><a href="http://en.wikipedia.org/wiki/2010_Copiap%C3%B3_mining_accident">Wikipedia</a></li>
    </ul>
</div>
{% endblock %}

{% block media %}
<h4>Images:</h4>
<ul class="unstyled">
    <li><img src="http://upload.wikimedia.org/wikipedia/en/1/13/Mina_San_Jos%C3%A9_-_Trapped_miners_before_rescue_-_Gobierno_de_Chile.jpg" class="img-rounded"></li>
    <li><img src="http://upload.wikimedia.org/wikipedia/commons/0/0d/480382main_miners2.jpg" class="img-rounded"></li>
</ul>

<h4>Videos:</h4>
<ul class="unstyled">
</ul>

<h4>Map</h4>
<script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
<script type="text/javascript">
      function initialize() {
        var myLatlng = new google.maps.LatLng(-27.3667, -70.3333);
        var mapOptions = {
            center: myLatlng,
            zoom: 10,
            mapTypeId: google.maps.MapTypeId.SATELLITE
        };
        var map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);

        var marker = new google.maps.Marker({
            position: myLatlng,
            map: map,
            title: 'Hello World!'
        });
    }
    google.maps.event.addDomListener(window, 'load', initialize);
</script>
<div id="map-canvas" style="height: 400px;"></div>
{% endblock %}