{% extends 'base.html' %}

<!-- Page title -->
{% block title %}Aurora Shooting{% endblock %}

<!-- Page content -->
{% block content %}
        <h2>Aurora Shooting</h2>

        <h4>People Involved</h4>
        <ul>
            <li><a href="{% url person1 %}">James Eagen Holmes</a></li>
        </ul>

        <h4>Organizations Involved</h4>
        <ul>
            <li<a href="{% url organization1 %}">The Community First Foundation </a></li>
        </ul>

        <h4>Kind</h4>Mass Shooting 

        <h4>Date and Time:</h4>July 20, 2012 12:30 AM 

        <h4>Locations:</h4>Aurora, Colorado, United States 

        <h4>Human Impact:</h4>
        Twelve people were killed at a multiplex Cinemark theater in Aurora Colorado during the midnight screening of the film The Dark Knight Rises. 
        This incident was considered the deadliest shooting since The Columbine massacre on April 20, 1999. 
        Several other incidents followed this one at other theaters where several other men were arrested for acts of violence or attempting to carry through with an act of violence. 
        The Presidential Candidates at the time, Barrack Obama and Mitt Romney, suspended campaign advertising and visited victims at Hospitals. 
        Actor Christian Bale along with other sports teams visited several victims and expressed their condolences. 
        There was a great fear that similar incidents would occur in cinemas across the United States and the world resulting in an increase in security in cinemas throughout the country. 
        This once again brought the issue of gun control to the surface of news and politics.

        <h4>Economic Impact:</h4>
        The Organization The Community First Foundation received substantial donations from Warner Bros. to aid the victims of the shooting. 
        The theater where the incident occurred was shut down for months before reopening on January 2013, resulting in a great loss for the theater owners. 
        Funeral expenses incurred by the victim's families was paid for by Cinemark. Gun sales in Colorado, Washington, Florida, and several other states grew tremendously after the incident along with an increase in background checks.

        <h4>Resources Needed:</h4>
        Cinemas and theaters around the world began hiring more employees to fill out the roles needed in their security increase. 
        Companies associated with the film and theater, Warner Bros. and Cinemark, donated a great amount of time to aid the families of the victims.

        <h4>Ways to Help:</h4>
        Donations can still provided to the Comunity First Foundation for the families of the victims of the incident. 
        Be warry of specific people entering theaters. 
        Cooperate with theater employees by not wearing suspicious looking clothing or bringing any possible weapon props to events they might be holding.

        <h4>Links:</h4>
        <ul>
            <li><a href="http://en.wikipedia.org/wiki/2012_Aurora_shooting">Wikipedia</a></li>
        </ul>

        <h4>Images:</h4>
        <ul class="unstyled">
            <li><img src="http://upload.wikimedia.org/wikipedia/commons/0/03/The_Century_16_theater_in_Aurora_CO_-_Shooting_location.jpg" class="img-rounded"></li>
        </ul>

        <h4>Videos:</h4>
        <ul>
            <li><embed src="http://cnettv.cnet.com/av/video/cbsnews/atlantis2/cbsnews_player_embed.swf" scale="noscale" salign="lt" type="application/x-shockwave-flash" background="#333333" width="425" height="279" allowFullScreen="true" allowScriptAccess="always" FlashVars="si=254&&contentValue=50128376&shareUrl=http://www.cbsnews.com/video/watch/?id=7415902n" /></li>
        </ul>
{% endblock %}