<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css" />
        <title>World Crises Database</title>
    </head>
    <body>        
        <div id="navbar">
            <ul>
                <li><h3>Links</h3></li>
                <li><h4>Crises</h4></li>
                <li><a href="{% url crisis1 %}">Crisis 1</a></li>
                <li><a href="{% url crisis2 %}">Crisis 2</a></li>
                <li><a href="{% url crisis3 %}">Crisis 3</a></li>
                <li><h4>Organizations</h4></li>
                <li><a href="{% url organization1 %}">Organization 1</a></li>
                <li><a href="{% url organization2 %}">Organization 2</a></li>
                <li><a href="{% url organization3 %}">Organization 3</a></li>
                <li><h4>People</h4></li>
                <li><a href="{% url person1 %}">Person 1</a></li>
                <li><a href="{% url person2 %}">Person 2</a></li>
                <li><a href="{% url person3 %}">Person 3</a></li>
            </ul>
        </div>

        <div id="content">
            <h1>Great Moonstone Oxen of the First and Forsaken Oceans</h1>
            <ul>
                <li>Spencer Reynoso</li>
                <li>Ben Bowely-Bryant</li>
                <li>Taylor McKinney</li>
                <li>Matt Stringer</li>
                <li>Cesar Cantu</li>
                <li>David Denton</li>
            </ul>
        </div>
    </body>
</html>