{% extends 'base.html' %}

<!-- Page title -->
{% block title %}San Estaban Mining Company{% endblock %}

<!-- Page content -->
{% block content %}
        <h2>San Estaban Mining Company</h2>
        
        <h4>Kind</h4>Chilean mining company dedicated to the production of copper and gold
        <h4>History</h4>
        Began operations in the San Jose Mine in 1889 but the company was not officially founded until 1957 but a Hungarian immigrant named Jorge Kemeny Letay.
        Became notoriously known in the mineral-rich region and has had 8 workers die while working in their mines along with a number of fines for safety breaching.
        The San Jose Mine which is owned by the company was closed in 2007 when relatives of deceased workers sued the company but was reopened in 2008 even though it failed to comply with regulations.
        The company has a history of ignoring warnings and worker lawsuits of unsafe working conditions and many believe that were it not for this the event could have been avoided.
        <h4>Contact Information</h4>
        <h5>Phone</h5>(+56)-2-223-9116
{% endblock %}