{% extends 'base.html' %}

<!-- Page title -->
{% block title %}Lashkar-e-Taiba{% endblock %}

<!-- Page content -->
{% block content %}
        <h2>Lashkar-e-Taiba</h2>

        <h4>Kind</h4>Islamist terrorist organization
        
        <h4>History</h4> 
        It is one of the largest and most active Islamist terrorist organizations in South Asia operating mainly from Pakistan.
        Founded in 1990 by Hafez Saeed, Abdullah Azzam, and Zafar Iqbal in Afghansitan's Kunar province and gained prominence as an offshoot of a previously established preaching group.
        In the early 2000's several countries including the United States and the UK declared the group a terrorist organization.
        Main goal has been stated to be not only the destruction of the Indian republic but to annihilate Hinduism and Judaism throughout South Asia.
        Is known for target military and civilian targets with the most notable events  being the 2001 Indian Parliament attack and the 2008 Mumbai attacks.
        After the 2008 Mumbai attacks Pakistan was pressured by the US and India to launch operations against the group and while they have clamped down on the group it is suspected by many that they continue to support the group.

        <h4>Contact Information</h4>
        Probably don't want to contact these guys
    </div>
    {% endblock %}