{% extends 'base.html' %}

<!-- Page title -->
{% block title %}{{ name|safe }}{% endblock %}

<!-- Page content -->
{% block content %}      
<h2>{{ name|safe }}</h2>

<h4>Kind</h4>{{ kind|safe }}
<h4>Summary:</h4>James Eagan Holmes (born December 13, 1987) is the accused perpetrator of a mass shooting that killed 12 people at a Century movie theater in Aurora, Colorado, on July 20, 2012.

<h4>Locations:</h4>{{ location|safe }}

<h4>Associated Crises</h4>
<ul>
</ul>

<h4>Associated Organizations</h4>
<ul>
</ul>

<h4>External Links:</h4>
<ul>
</ul>

{% endblock %}
{% block media %}
<h4>Images:</h4>
<ul class="unstyled">
</ul>

{% endblock %}