{% extends 'contentBase.html' %}

<!-- Page title -->
{% block title %}{{ name|safe }}{% endblock %}

<!-- header -->
{% block header %}
    <h2>{{ name|safe }}</h2>
{% endblock %}

<!-- Page content -->
{% block content %}

<h4>Kind</h4>{{ kind|safe }}

{% if summaries %}
    <h4>Summary</h4>
    <ul class="unstyled">
        {% for s in summaries %}
            {{ s }}
        {% endfor %}
    </ul>
{% endif %}
{% endblock %}

{% block involved1 %}
    <h4>Crises Involved</h4>
    {% if cries %}
        <ul class="unstyled">
            {% for c in cries %}
                <li><a href={% url crisis c.id %}>{{ c.name }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}

{% block involved2 %}
    <h4>Organizations Involved</h4>
    {% if orgs %}
        <ul class="unstyled">
            {% for o in orgs %}
                <li><a href={% url organization o.id %}>{{ o.name }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}

{% block right %}
{% endblock %}

{% block leftBox %}
{% endblock %}