<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css" />
    <title>World Crises Database|James Eagan Holmes</title>
</head>
<body>
    <div id="navbar">
        <ul>
            <li><h3>Links</h3></li>
            <li><a href="{% url index %}">Home Page</a></li>
            <li><h4>Crises</h4></li>
            <li><a href="{% url crisis1 %}">Aurora Shooting</a></li>
            <li><a href="{% url crisis2 %}">Crisis 2</a></li>
            <li><a href="{% url crisis3 %}">Crisis 3</a></li>
            <li><h4>Organizations</h4></li>
            <li><a href="{% url organization1 %}">Organization 1</a></li>
            <li><a href="{% url organization2 %}">Organization 2</a></li>
            <li><a href="{% url organization3 %}">Organization 3</a></li>
            <li><h4>People</h4></li>
            <li><a href="{% url person1 %}">Person 1</a></li>
            <li><a href="{% url person2 %}">Person 2</a></li>
            <li><a href="{% url person3 %}">Person 3</a></li>
        </ul>
    </div>
    <div id="content">
        
        Summary:
        James Eagan Holmes (born December 13, 1987) is the accused perpetrator of a mass shooting that killed 12 people at a Century movie theater in Aurora, Colorado, on July 20, 2012.
        <h2>James Eagan Holmes</h2>

        <h4>Crisis</h4>
        <ul>
            <li><a href="{% url crisis1 %}">Aurora Shooting</a></li>
        </ul>

        <h4>Organizations Involved</h4>
        <ul>
        </ul>

        <h4>Kind</h4>Mass Murderer

        <h4>Date and Time:</h4>July 20, 2012 12:30 AM 

        <h4>Locations:</h4>Aurora, Colorado, United States 

        <h4>Common:</h4>
        
        <h4>External Links:</h4>
        <ul>
            <li><a href="http://en.wikipedia.org/wiki/James_Eagan_Holmes">Wikipedia</a></li>
        </ul>

        <h4>Images:</h4>
        <ul>
            <li><img src="http://i.huffpost.com/gadgets/slideshows/240288/slide_240288_1263944_free.jpg?1363112552000">
            <br /> Before court</li>
            <li><img src="http://i.huffpost.com/gen/700200/thumbs/s-JAMES-EAGAN-HOLMES-BRAIN-EXPERTS-large.jpg">
            <br /> During court</li>
            <li><img src="http://i.huffpost.com/gen/1174451/thumbs/s-JAMES-HOLMES-MENTAL-HEALTH-large.jpg?6">
            <br /> Current Image</li>
        </ul>

        <h4>Summary:</h4>James Eagan Holmes (born December 13, 1987) is the accused perpetrator of a mass shooting that killed 12 people at a Century movie theater in Aurora, Colorado, on July 20, 2012.
    </div>
</body>
</html>