{% extends 'base.html' %}

<!-- Page title -->
{% block title %}Aurora Shooting{% endblock %}

<!-- Page content -->
{% block content %}      
<h2>James Eagan Holmes</h2>

<h4>Crisis</h4>
<ul>
    <li><a href="{% url crisis1 %}">Aurora Shooting</a></li>
</ul>

<h4>Organizations Involved</h4>
<ul>
</ul>

<h4>Kind</h4>Mass Murderer

<h4>Locations:</h4>Aurora, Colorado, United States 

<h4>Common:</h4>

<h4>External Links:</h4>
<ul>
    <li><a href="http://en.wikipedia.org/wiki/James_Eagan_Holmes">Wikipedia</a></li>
</ul>

<h4>Images:</h4>
<ul class="unstyled">
    <li><img src="http://i.huffpost.com/gadgets/slideshows/240288/slide_240288_1263944_free.jpg?1363112552000" class="img-rounded">
        <br /> Before court
    </li>
    <li><img src="http://i.huffpost.com/gen/700200/thumbs/s-JAMES-EAGAN-HOLMES-BRAIN-EXPERTS-large.jpg" class="img-rounded">
        <br /> During court
    </li>
    <li><img src="http://i.huffpost.com/gen/1174451/thumbs/s-JAMES-HOLMES-MENTAL-HEALTH-large.jpg?6" class="img-rounded">
        <br /> Current Image
    </li>
</ul>

<h4>Summary:</h4>James Eagan Holmes (born December 13, 1987) is the accused perpetrator of a mass shooting that killed 12 people at a Century movie theater in Aurora, Colorado, on July 20, 2012.
{% endblock %}